<div class="container">
  <div id="seasons-show">
    <div class="col-9 mx-auto">
      <h2><%= @tv_show.name %> - Season <%= @season.season_number %></h2>
      <% @episodes.each do |episode| %>
          <%= render partial: 'episode', locals: { episode: episode, type: nil } %>
      <% end %>
      <%= render partial: 'shared/pagy' %>
    </div>
  </div>
</div>
