<div class="container">
  <div id="seasons-show">
    <div class="col-9 mx-auto">
      <% @season.episodes.order(episode_number: :asc).each do |episode| %>
          <%= render partial: 'episode', locals: { episode: episode, type: nil } %>
      <% end %>
    </div>
  </div>
</div>
