.season {
  .card-season {
    overflow: hidden;
    background: $dark-blue;
    display: flex;
    align-items: start;

    .bg-lightgray {
      background-color: lightgray;
    }

    .card-infos {
      padding: 1.5rem 2rem 0 2rem;
      h2 {
        margin: 0 0 0.25rem 0;
      }
      .overview {
        line-height: 20px;
        height: 100%;
        overflow: hidden;
        max-height: 80px;
        text-align: justify;
      }
    }

    img {
      object-fit: cover;
      min-height: 195px;
      min-width: 130px;
    }

    p {
      text-align: justify;
      margin-bottom: 0.5rem;
    }
  }
}
