<div class="episodes row">
  <% if @tv_show.last_aired_episode.present? %>
    <%= render partial: "episode", locals: { episode: @tv_show.last_aired_episode, type: "Last" } %>
  <% end %>
  <% if  @tv_show.upcoming_episode.present? %>
    <%= render partial: "episode", locals: { episode: @tv_show.upcoming_episode, type: "Next" } %>
  <% elsif @tv_show.returning? %>
    <%= render partial: "episode", locals: { episode: nil, type: "Next"} %>
  <% end %>
</div>
