<div class="card shadow-sm">
    <% if person.profile_path.present? %>
      <%= image_tag("#{IMAGE_URL}w138_and_h175_face#{person.profile_path}") %>
    <% else %>
      <%= image_tag("person-photo.svg") %>
    <% end %>
  <div class="card-body">
    <p class="card-text"><%= person.name %></p>
  </div>
</div>
