<div class="container">
  <div id="calendar-wrapper">
    <%= month_calendar(events: @episodes) do |date, episodes| %>
            <span><%= l(date, format: '%d') %></span>
      <% if episodes.any? { |episode| episode.air_date == date } %>
        <%= link_to calendar_path(start_date: date) do %>
          <div class="td-link">
            <% if episodes.any? { |episode| episode.air_date == date } %>
                <i class="fas fa-video"></i>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
