.simple-calendar {
  color: white;
  background-color: #17243d;
  padding: 3rem 2rem 2rem 2rem;
  border-radius: 1rem;
  margin: 5rem 0 3rem 0;
  
  .calendar-heading {
    display: flex;
    justify-content: space-around;
    
    a {
      color: white;
    }
  }
  
  .table {
    border-collapse: separate;
    border-spacing: 0.5rem;
    table-layout: fixed;
    font-size: 0.65rem;
    border: none;
    width: auto;
    color: white;
    
    th {
      border: none;
    }
    
    .day {
      padding: 0;
      width: 100px;
      min-width: 50px;
      background-color: rgba(0, 0, 0, 0.5);
      border: none;
      border-radius: 0.5rem;
      position: relative;
      
      .date {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        z-index: 1000;
      }
      
      .td-link {
        height: 100%;
        padding: 0.5rem;
        position: relative;
        border-radius: 0.5rem;
        
        i { 
          color: orange; 
          position: absolute;
          top: 0.5rem;
          right: 0.5rem;
        }
      }
      
        .td-link.active {
          background-color: green;
        }
    }

    .today {
      background-color: #224384;
    }
  
    .past {}
    
    .future {}
  
    .start-date {
      // background-color: green;
    }
  
    .prev-month {
      background-color: rgba(0, 0, 0, 0.3);
    }
    
    .next-month {
      background-color: rgba(0, 0, 0, 0.3);
    }
    
    .current-month {}
  
    .has-events {}
    
  }
  
  #calendar-pannel {
    width: 100%;
    height: 100%;
    padding: 1.8rem 0 0 1.8rem;
    border-left: 1px solid rgba(255, 255, 255, 0.2);

      h2 {
        margin-bottom: 1rem; 
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0.6rem 0;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.5rem;
        padding: 0 0.8rem;
          
          .span-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0.3rem 0;
          }
      }

    .spot {
      height: 7px;
      width: 7px;
      border-radius: 50%;
      background-color: orange;
      margin-right: 8px;
    }

    .tv-show-name {
      margin-right: 5px;
    }

    .episode-name {
      margin-left: 13px;
      margin-bottom: 0.3rem;
      font-style: italic;
      opacity: 0.7;
    }
  }
}
