.navbar-lewagon {
  justify-content: flex-end;
  background: #111827;

  .navbar-brand img {
    width: 28px;
  }

  .navbar-brand {
    margin-right: auto;
  }

  .navbar-collapse {
    flex-grow: 0;
  }
}
