html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
::-webkit-scrollbar {
  height: 11px;
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--thumbBG);
  border: 3px solid var(--scrollbarBG);
}
