.search-bar {
  input {
    background-color: rgba(55, 65, 81, 1);
    border-color: transparent;
    border-radius: $border-radius-sm;
  }
}

.navbar {
  .search-bar {
    margin-right: 1rem;
    width: 240px;
  }
}
